@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
  margin: 0;
  padding: 0;
  background-color: #251F4F;
  padding-top: 48px;
}

.App{
  background-size: 101%;
  background-position: center;
}

*{
  font-family: 'Roboto', sans-serif;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
}
.layout{
  padding: 8px 24px;
}
.header .text{
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
}
.header img{
  width: 35px;
  height: 35px;
  margin-left: 20px;
}
label{
  font-size: 16px;
  color: #C7C2E3;
  display: block;
}

.area{
  background-color: #1F1851;
  border-radius: 8px;
  padding: 8px 16px;
}

.copyarea{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyarea .text{
  color: #ffffff;
}
.copyarea .copy-icon img{
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.description{
  color: #C7C2E3;
}
.qr{
  padding: 16px;
  background-color: #ffffff;
  display: inline-block;
  margin: 16px 0px 16px 50%;
  transform: translateX(-50%);
}
.copied{
  color: #C7C2E3;
}
textarea{
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0;
}